* {
  box-sizing: border-box;
}
header {
  background-color: rgb(44, 154, 183);
  color: white;
  font-size: 1.5rem;
}
.top-nav {
  background-color: rgb(235, 235, 235);
  color: rgb(58,58,58);
  font-size: .9rem;
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 12rem;
}
footer {
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgb(58, 58, 58);
  color: white;
  text-align: center;
  font-size: .7rem;
}
ul {
  list-style-type: none;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: rgb(58,58,58);
}
.sub-header {
  font-style: italic;
  width: 35rem;
  padding-bottom: 2.5rem;
  padding-left: 12rem;
  letter-spacing: .09rem;
}
.styled-blue {
  color: rgb(44, 154, 183);
}
li {
  display: inline;
}
li:after {
  content: "/";
  padding: .8rem;
}
li.last:after {
  content: "";
}
.top-ul {
  margin-left: 0;
  padding: 0;
}
h1 {
  margin: 0;
  padding-top: 4rem;
  padding-left: 12rem;
}
.footer-image {
  padding-top: 4rem;
  padding-bottom: 2rem;
  width: 20%;
}
.footer-copyright {
  margin: 0;
  padding-bottom: 4rem;
  padding-top: 2rem;
}
main {
position: relative;
margin-bottom: 6rem;
padding: 2rem 12rem 0rem 12rem;
line-height: 1.5rem;
}
.bottom-links {
  font-weight: bold;
  padding-top: 2rem;
}
aside {
position: absolute;
right: 10rem;
top: 2rem;
width: 20%;
}
article {
  position: static;
  left: 0;
  width: 75%;
  padding-right: 6rem;
}
blockquote {
  margin-left: auto;
  font-size: 1.2rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  width: 100%;
  line-height: 2rem;
}
figure {
  margin: auto;
}
.aside-image {
  width: 100%;
}
h2 {
  font-size: 1rem;
}
.paragraph {
  font-size: .8rem;
}
.aside-link {
  font-size: .8rem;
  color: rgb(44, 154, 183);
}
.jeremy {
  font-style: italic;
}
