* {
  box-sizing: border-box;
}
header {
  background-color: rgb(44, 154, 183);
color: white;
font-size: 1.5rem;
}
.top-nav {
  background-color: rgb(235, 235, 235);
  color: black;
  font-size: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
footer {
  background-color: rgb(58, 58, 58);
  color: white;
}
ul {
  list-style-type: none;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.sub-header {
  font-style: italic;
  width: 20rem;
}
aside {
  float: right;
  max-width: 20rem;

}
.styled-blue {
  color: rgb(44, 154, 183);
}
li {
  display: inline;
}
li:after {
  content: "/";
  padding: 1rem;
}
li.last:after {
  content: "";
}
figure {
  float: left;
  width: 100%;
  margin-left: 0;
}
.top-ul {
  margin-left: 0;
  padding: 0;
}
